<table>
    {{ form_start(form) }}

    <tr>
        <th>{{'convoit.corps'|trans}}</th>
        <th>{{ form_widget(form.corps) }}</th>
    </tr>
    <tr>
        <th>{{'convoit.NbEtoile'|trans}}</th>
        <th>{{ form_widget(form.nbEtoile) }}</th>
    </tr>

    <tr>
        <th>{{'convoit.utilisateur_concerner'|trans}}</th>
        <th>{{ form_widget(form.idUtilisateurConcerner) }}</th>
    </tr>

</table>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
