{% extends 'base.html.twig' %}

{% block title %}New Avis{% endblock %}

{% block body %}
    <h1>{{'convoit.creer_nouvel_avis'|trans}}</h1>

    {{ include('avis/_form.html.twig') }}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_avis_index') }}">{{'convoit.retour_liste'|trans}}</a>
    {% elseif is_granted('ROLE_USER') %}
        <a href="{{ path('app_avis_user') }}">{{'convoit.retour_liste'|trans}}</a>
    {% endif %}
{% endblock %}
