{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
    <h1>Avis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ avi.id }}</td>
            </tr>
            <tr>
                <th>NbEtoile</th>
                <td>{{ avi.nbEtoile }}</td>
            </tr>
            <tr>
                <th>Corps</th>
                <td>{{ avi.corps }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_avis_index') }}">back to list</a>
    {% elseif is_granted('ROLE_USER') %}
        <a href="{{ path('app_avis_user') }}">back to list</a>
    {% endif %}


    {{ include('avis/_delete_form.html.twig') }}
{% endblock %}
