{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
    <h1>Avis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{'convoit.Id'|trans}}</th>
                <td>{{ avi.id }}</td>
            </tr>
            <tr>
                <th>{{'convoit.NbEtoile'|trans}}</th>
                <td>{{ avi.nbEtoile }}</td>
            </tr>
            <tr>
                <th>{{'convoit.corps'|trans}}</th>
                <td>{{ avi.corps }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_avis_index') }}">{{'convoit.retour_liste'|trans}}</a>
    {% elseif is_granted('ROLE_USER') %}
        <a href="{{ path('app_avis_user') }}">{{'convoit.retour_liste'|trans}}</a>
    {% endif %}


    {{ include('avis/_delete_form.html.twig') }}
{% endblock %}
