{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}
    <h1>{{'convoit.utilisateur_index'|trans}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{'convoit.Nom'|trans}}</th>
                <th>{{'convoit.Prenom'|trans}}</th>
                <th>{{'convoit.Email'|trans}}</th>
                <th>{{'convoit.Telephone'|trans}}</th>
                <th>{{'convoit.action'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.telephone }}</td>
                <td>
                    <a href="{{ path('app_utilisateur_show', {'id': utilisateur.id}) }}">{{'convoit.afficher'|trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">{{'convoit.pas_de_donnée_trouvée'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
