{% extends 'base.html.twig' %}

{% block body %}
    <table class="table text-center">
        <tr>
            <th class="active text-center">Nom</th>
            <th class="active text-center">Prenom</th>
            <th class="active text-center">Mail</th>
            <th class="active text-center">Telephone</th>
        </tr>

        {% for utilisateur in utilisateurs %}
            <tr>
                <td><a href="{{ path('utilisateur.show', {id: utilisateur.id}) }}">{{ utilisateur.nom }}</a></td>
                <td>
                    <a href="#">
                        {{ utilisateur.prenom }}
                    </a>
                </td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.telephone }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}