{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>{{'convoit.utilisateur'|trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{'convoit.Id'|trans}}</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>{{'convoit.Nom'|trans}}</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>{{'convoit.Prenom'|trans}}</th>
                <td>{{ utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>{{'convoit.Email'|trans}}</th>
                <td>{{ utilisateur.email }}</td>
            </tr>
            <tr>
                <th>{{'convoit.Telephone'|trans}}</th>
                <td>{{ utilisateur.telephone }}</td>
            </tr>
            <tr>
                <th>{{'convoit.ModeApp'|trans}}</th>
                <td>
                    {% if utilisateur.modeApp == 0 %}
                        {{'convoit.mode_sombre'|trans}}
                    {% elseif utilisateur.modeApp == 1 %}
                        {{'convoit.mode_clair'|trans}}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_utilisateur_index') }}">{{'convoit.retour_liste'|trans}}</a>

    <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}">{{'convoit.editer'|trans}}</a>
    {% endif %}
    {{ include('utilisateur/_delete_form.html.twig') }}
{% endblock %}
