{{ form_start(form) }}
<table>
    <tr>
        <th>{{'convoit.corps'|trans}}</th>
        <th>{{ form_widget(form.corps) }}</th>
    </tr>
    <tr>
        <th>{{'convoit.trajet_concerné'|trans}}</th>
        <th>{{ form_widget(form.idTrajetConcerner) }}</th>
    </tr>
    <table>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
