
<table>
    {{ form_start(form) }}

    <tr>
        <th>{{ form_label(form.villeDepart) }}</th>
        <th>{{ form_widget(form.villeDepart) }}</th>
    </tr>
    <tr>
        <th>{{ form_label(form.villeArrivee) }}</th>
        <th>{{ form_widget(form.villeArrivee) }}</th>
    </tr>
    <tr>
        <th>{{ form_label(form.dateHeure) }}</th>
        <th>{{ form_widget(form.dateHeure) }}</th>
    </tr>
    <tr>
        <th>{{ form_label(form.voiture) }}</th>
        <th>{{ form_widget(form.voiture) }}</th>
    </tr>
    <tr>
        <th>{{ form_label(form.nbPlace) }}</th>
        <th>{{ form_widget(form.nbPlace) }}</th>
    </tr>
    <tr>
        <th>{{ form_label(form.prix) }}</th>
        <th>{{ form_widget(form.prix) }}</th>
    </tr>
</table>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
