{% extends 'base.html.twig' %}

{% block title %}{{'convoit.editer_trajet'|trans}}{% endblock %}

{% block body %}
    <h1>Edit Trajet</h1>

    {{ include('trajet/_form.html.twig', {'button_label': 'Update'}) }}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_trajet_index') }}">{{'convoit.retour_liste'|trans}}</a>
    {% elseif is_granted('ROLE_USER') %}
        <a href="{{ path('app_trajet_a_venir') }}">{{'convoit.retour_liste'|trans}}</a>
    {% endif %}

    {{ include('trajet/_delete_form.html.twig') }}
{% endblock %}
