{% extends 'base.html.twig' %}

{% block title %}{{'convoit.liste_des_trajets'|trans}}{% endblock %}

{% block body %}
    <h1>{{'convoit.liste_des_trajets'|trans}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{'convoit.Id'|trans}}</th>
                <th>{{'convoit.VilleDepart'|trans}}</th>
                <th>{{'convoit.VilleArrivee'|trans}}</th>
                <th>{{'convoit.DateHeure'|trans}}</th>
                <th>{{'convoit.Voiture'|trans}}</th>
                <th>{{'convoit.NbPlace'|trans}}</th>
                <th>{{'convoit.Prix'|trans}}</th>
                <th>{{'convoit.action'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for trajet in trajets %}
            <tr>
                <td>{{ trajet.id }}</td>
                <td>{{ trajet.villeDepart }}</td>
                <td>{{ trajet.villeArrivee }}</td>
                <td>{{ trajet.dateHeure ? trajet.dateHeure|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ trajet.voiture }}</td>
                <td>{{ trajet.nbPlace }}</td>
                <td>{{ trajet.prix }}</td>
                <td>
                    <a href="{{ path('app_trajet_show', {'id': trajet.id}) }}">{{'convoit.afficher'|trans}}</a>


                    {% if (app.user and app.user.id == trajet.auteur) or is_granted('ROLE_ADMIN')  %}

                        <a href="{{ path('app_trajet_edit', {'id': trajet.id}) }}">{{'convoit.editer'|trans}}</a>

                    {% endif %}


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">{{'convoit.pas_de_donnée_trouvée'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if app.user %}
        <a href="{{ path('app_trajet_new') }}">{{'convoit.créer_nouveau'|trans}}</a>
    {% endif %}
{% endblock %}
