{% extends 'base.html.twig' %}

{% block title %}Trajet{% endblock %}

{% block body %}
    <h1>Trajet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ trajet.id }}</td>
            </tr>
            <tr>
                <th>VilleDepart</th>
                <td>{{ trajet.villeDepart }}</td>
            </tr>
            <tr>
                <th>VilleArrivee</th>
                <td>{{ trajet.villeArrivee }}</td>
            </tr>
            <tr>
                <th>DateHeure</th>
                <td>{{ trajet.dateHeure ? trajet.dateHeure|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Voiture</th>
                <td>{{ trajet.voiture }}</td>
            </tr>
            <tr>
                <th>NbPlace</th>
                <td>{{ trajet.nbPlace }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ trajet.prix }}</td>
            </tr>
        </tbody>
    </table>



    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_trajet_index') }}">back to list</a>
    {% elseif is_granted('ROLE_USER') %}
    <a href="{{ path('app_trajet_a_venir') }}">back to list</a>
    {% endif %}
    {{ include('trajet/_delete_form.html.twig') }}
{% endblock %}
