{% extends 'base.html.twig' %}

{% block title %}Trajet{% endblock %}

{% block body %}
    <h1>{{'convoit.Trajet'|trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{'convoit.Id'|trans}}</th>
                <td>{{ trajet.id }}</td>
            </tr>
            <tr>
                <th>{{'convoit.VilleDepart'|trans}}</th>
                <td>{{ trajet.villeDepart }}</td>
            </tr>
            <tr>
                <th>{{'convoit.VilleArrivee'|trans}}</th>
                <td>{{ trajet.villeArrivee }}</td>
            </tr>
            <tr>
                <th>{{'convoit.DateHeure'|trans}}</th>
                <td>{{ trajet.dateHeure ? trajet.dateHeure|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{'convoit.Voiture'|trans}}</th>
                <td>{{ trajet.voiture }}</td>
            </tr>
            <tr>
                <th>{{'convoit.NbPlace'|trans}}</th>
                <td>{{ trajet.nbPlace }}</td>
            </tr>
            <tr>
                <th>{{'convoit.Prix'|trans}}</th>
                <td>{{ trajet.prix }}</td>
            </tr>
        </tbody>
    </table>



    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_trajet_index') }}">{{'convoit.retour_liste'|trans}}</a>
    {% elseif is_granted('ROLE_USER') %}
    <a href="{{ path('app_trajet_a_venir') }}">{{'convoit.retour_liste'|trans}}</a>
    {% endif %}
    {{ include('trajet/_delete_form.html.twig') }}
{% endblock %}
